Repository Myastr0/mk-notes: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --config .prettierrc, npx sort-package-json

feat: Support Scala code blocks (#34)
  src/domains/elements/Element.ts
  src/infrastructure/notion/notion.converter.ts
Due: eslint --fix

docs(update docs): update docs
  dist/MkNotes.d.ts
  dist/MkNotes.js
  dist/bin/actions/preview.js
  dist/bin/actions/sync.js
  dist/bin/cli/commands/preview.js
  dist/bin/cli/commands/sync.js
  dist/bin/cli/index.js
  dist/domains/features/previewSynchronization.d.ts
  dist/domains/features/previewSynchronization.js
  dist/domains/features/synchronizeMarkdownToNotion.d.ts
  dist/domains/features/synchronizeMarkdownToNotion.js
  dist/domains/notion/NotionPage.d.ts
  dist/domains/sitemap/serializers/types.d.ts
  dist/index.d.ts
  dist/infrastructure/index.d.ts
  dist/infrastructure/notion/notion.converter.d.ts
  dist/infrastructure/notion/notion.destination.d.ts
  docs/content/docs/cli/getting-started/0-installation.mdx
  docs/content/docs/cli/getting-started/1-your-first-synchronization.mdx
  docs/content/docs/cli/guides/architecture.mdx
  docs/content/docs/cli/guides/cli-commands.mdx
  docs/content/docs/cli/guides/meta.json
  docs/content/docs/cli/guides/programmatic-usage.mdx
  docs/content/docs/cli/meta.json
  docs/content/docs/github-actions/available-actions/1-preview-action.mdx
  docs/content/docs/github-actions/available-actions/2-sync-action.mdx
  docs/content/docs/github-actions/best-practices.mdx
  docs/content/docs/github-actions/index.mdx
  docs/content/docs/github-actions/meta.json
  docs/content/docs/github-actions/setup.mdx
  docs/content/docs/github-actions/troubleshooting.mdx
  docs/content/docs/guides/github-actions.md
  docs/content/docs/index.mdx
  docs/content/docs/meta.json
  docs/content/docs/writing/styling-notion-page.mdx
  docs/content/docs/writing/using-equations.mdx
  docs/lib/source.ts
Due: eslint --fix, prettier --write --config .prettierrc

ci(add check dist workflow): add check dist workflow
  .github/workflows/check-dist.yaml
Due: none

feat(update build): update build
  dist/MkNotes.d.ts
  dist/MkNotes.js
  dist/bin/actions/preview.js
  dist/bin/actions/sync.js
  dist/bin/cli/commands/preview.js
  dist/bin/cli/commands/sync.js
  dist/bin/cli/index.js
  dist/domains/features/previewSynchronization.d.ts
  dist/domains/features/previewSynchronization.js
  dist/domains/features/synchronizeMarkdownToNotion.d.ts
  dist/domains/features/synchronizeMarkdownToNotion.js
  dist/domains/notion/NotionPage.d.ts
  dist/domains/sitemap/serializers/types.d.ts
  dist/index.d.ts
  dist/infrastructure/index.d.ts
  dist/infrastructure/notion/notion.converter.d.ts
  dist/infrastructure/notion/notion.destination.d.ts
Due: eslint --fix

fix(fix build diff): fix build diff
  dist/bin/actions/utils/constants.d.ts
  dist/bin/actions/utils/constants.js
  dist/bin/commands/index.d.ts
  dist/bin/commands/index.js
  dist/bin/commands/preview.d.ts
  dist/bin/commands/preview.js
  dist/bin/commands/sync.d.ts
  dist/bin/commands/sync.js
  dist/bin/index.d.ts
  dist/bin/index.js
  dist/domains/notion/NotionPage.js
  dist/domains/sitemap/SiteMap.js
  dist/domains/synchronization/destination.repository.d.ts
  dist/infrastructure/notion/notion.destination.js
Due: eslint --fix

fix(fix gha): fix gha
  .github/workflows/build.yaml
  .github/workflows/check-dist.yaml
Due: none

chore(update pre-commit hook): update pre-commit hook
  .husky/pre-commit
  dist/bin/actions/preview.js
  dist/bin/actions/sync.js
Due: eslint --fix

fix(fix gha): fix gha
  .github/workflows/check-dist.yaml
Due: none

build(build ts project): build ts project
  dist/domains/elements/Element.d.ts
  dist/domains/elements/Element.js
  dist/infrastructure/notion/notion.converter.js
Due: eslint --fix

ci(rework ci): rework ci
  .github/workflows/check-build.yaml
  .github/workflows/run-on-pr.yml
Due: none

build(yarn): remove caret on installation
  .yarnrc
  package.json
Due: eslint --fix, npx sort-package-json

refactor(revert changes): revert changes
  package.json
Due: eslint --fix, npx sort-package-json

refactor(fix deps): fix deps
  package.json
  yarn.lock
Due: eslint --fix, npx sort-package-json

build(fix form-data version): fix form-data version
  package.json
  yarn.lock
Due: eslint --fix, npx sort-package-json

Chore fix deps version (#36)
  .yarnrc
  package.json
  yarn.lock
Due: eslint --fix, npx sort-package-json

build(dependabot): setup dependabot for deps mgmt
  .github/dependabot.yml
Due: none

build(dependabot): setup dependabot for deps mgmt (#37)
  .github/dependabot.yml
Due: none

revert(dependabot): disable dependabot
  .github/dependabot.yml
Due: none

revert(dependabot): disable dependabot (#48)
  .github/dependabot.yml
Due: none

build(yarn): remove caret on installation
  package.json
Due: eslint --fix, npx sort-package-json

refactor(fix deps): fix deps
  package.json
Due: eslint --fix, npx sort-package-json

fix(fix preview gha): fix preview gha
  src/bin/github-actions/preview.ts
Due: eslint --fix

docs(update docs according github actions): update docs according github actions
  action.yaml
  docs/content/docs/github-actions/available-actions/2-sync-action.mdx
  docs/content/docs/github-actions/best-practices.mdx
  docs/content/docs/github-actions/first-synchronization.mdx
  docs/content/docs/github-actions/index.mdx
  docs/content/docs/github-actions/meta.json
  docs/content/docs/github-actions/setup.mdx
  docs/content/docs/github-actions/troubleshooting.mdx
  docs/content/docs/index.mdx
  src/bin/github-actions/sync.ts
Due: eslint --fix

docs(update docs): update docs
  action.yaml
  docs/content/docs/cli/getting-started/0-installation.mdx
  docs/content/docs/cli/getting-started/1-your-first-synchronization.mdx
  docs/content/docs/cli/guides/architecture.mdx
  docs/content/docs/cli/guides/cli-commands.mdx
  docs/content/docs/cli/guides/meta.json
  docs/content/docs/cli/guides/programmatic-usage.mdx
  docs/content/docs/cli/meta.json
  docs/content/docs/github-actions/available-actions/1-preview-action.mdx
  docs/content/docs/github-actions/available-actions/2-sync-action.mdx
  docs/content/docs/github-actions/best-practices.mdx
  docs/content/docs/github-actions/index.mdx
  docs/content/docs/github-actions/meta.json
  docs/content/docs/github-actions/setup.mdx
  docs/content/docs/github-actions/troubleshooting.mdx
  docs/content/docs/index.mdx
  docs/content/docs/meta.json
  docs/content/docs/writing/styling-notion-page.mdx
  docs/content/docs/writing/using-equations.mdx
  docs/lib/source.ts
Due: eslint --fix

feat(setup action.yaml files): setup action.yaml files + compile project in se
  .husky/pre-commit
  action.yaml
  eslint.config.mjs
  package.json
  preview/README.md
  preview/action.yaml
  preview/index.js
  scripts/build-actions.ts
  src/bin/cli/commands/index.ts
  src/bin/cli/commands/preview.ts
  src/bin/cli/commands/sync.ts
  src/bin/cli/index.ts
  src/bin/github-actions/preview.ts
  src/bin/github-actions/sync.ts
  src/bin/github-actions/utils/index.ts
  src/domains/features/previewSynchronization.ts
  sync/README.md
  sync/action.yaml
  sync/index.js
  yarn.lock
Due: eslint --fix, prettier --write --config .prettierrc, npx sort-package-json

build(update sync command): update sync command
  sync/index.js
Due: eslint --fix

build(add build): add build
  preview/index.js
Due: eslint --fix

chore(remove useless scripts): remove useless scripts
  scripts/build-actions.ts
Due: eslint --fix

Feat setup GitHub action (#49)
  .husky/pre-commit
  action.yaml
  docs/content/docs/cli/getting-started/0-installation.mdx
  docs/content/docs/cli/getting-started/1-your-first-synchronization.mdx
  docs/content/docs/cli/guides/architecture.mdx
  docs/content/docs/cli/guides/cli-commands.mdx
  docs/content/docs/cli/guides/meta.json
  docs/content/docs/cli/guides/programmatic-usage.mdx
  docs/content/docs/cli/meta.json
  docs/content/docs/github-actions/available-actions/1-preview-action.mdx
  docs/content/docs/github-actions/available-actions/2-sync-action.mdx
  docs/content/docs/github-actions/best-practices.mdx
  docs/content/docs/github-actions/first-synchronization.mdx
  docs/content/docs/github-actions/index.mdx
  docs/content/docs/github-actions/meta.json
  docs/content/docs/github-actions/troubleshooting.mdx
  docs/content/docs/index.mdx
  docs/content/docs/meta.json
  docs/content/docs/writing/styling-notion-page.mdx
  docs/content/docs/writing/using-equations.mdx
  docs/lib/source.ts
  eslint.config.mjs
  package.json
  preview/README.md
  preview/action.yaml
  preview/index.js
  src/bin/cli/commands/index.ts
  src/bin/cli/commands/preview.ts
  src/bin/cli/commands/sync.ts
  src/bin/cli/index.ts
  src/bin/github-actions/preview.ts
  src/bin/github-actions/sync.ts
  src/bin/github-actions/utils/index.ts
  src/domains/features/previewSynchronization.ts
  sync/README.md
  sync/action.yaml
  sync/index.js
  yarn.lock
Due: eslint --fix, prettier --write --config .prettierrc, npx sort-package-json

feat(github action): adjust github-actions metadata
  action.yaml
  preview/action.yaml
  preview/index.js
  sync/action.yaml
  sync/index.js
Due: eslint --fix

feat(github action): adjust github-actions metadata (#50)
  action.yaml
  preview/action.yaml
  preview/index.js
  sync/action.yaml
  sync/index.js
Due: eslint --fix

chore(linguist scan): remove index.js compiled files
  .gitattributes
Due: none

chore(linguist scan): remove index.js compiled files (#52)
  .gitattributes
Due: none

Path conditions:
  eslint --fix: ((any of: *.js) or (any of: *.json)) or (any of: *.ts)
  prettier --write --config .prettierrc: any of: *.md
  npx sort-package-json: any of: package.json
