Repository Myastr0/mk-notes: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --config .prettierrc, eslint --fix, npx sort-package-json

.lintstagedrc.json:

{
  "*.js": ["prettier --write --config .prettierrc", "eslint --fix"],
  "*.json": ["prettier --write --config .prettierrc"],
  "*.ts": ["prettier --write --config .prettierrc", "eslint --fix"],
  "*.md": ["prettier --write --config .prettierrc"],
  "package.json": ["npx sort-package-json"]
}

fix(fix ci to publish package): fix CI to publish package
  .github/workflows/deploy-package.yml
Due: none

fix(fix build command): fix build command
  .gitignore
  package.json
  tsconfig.production.json
Due: prettier --write --config .prettierrc, npx sort-package-json

revert(revert package.json version): revert package.json version
  package.json
Due: prettier --write --config .prettierrc, npx sort-package-json

docs(installation command): fix installation command
  docs/docs/getting-started/0-installation.mdx
Due: none

ci(publish workflow): add discord notification on publish
  .github/workflows/deploy-package.yml
Due: none

chore(update discord message): update discord message
  .github/workflows/deploy-package.yml
Due: none

fix(fix cli execution): fix CLI execution
  package.json
  tsconfig.json
  tsconfig.production.json
Due: prettier --write --config .prettierrc, npx sort-package-json

fix(add shebang line): add shebang line
  src/bin/index.ts
Due: prettier --write --config .prettierrc, eslint --fix

chore(cli + fix issues): add `--version` to CLI + Fix recursive issue on html parser
  src/bin/index.ts
  src/infrastructure/html/html.parser.ts
  src/infrastructure/markdown/markdown.parser.ts
Due: prettier --write --config .prettierrc, eslint --fix

docs(update readme.md): update readme.md
  README.md
Due: prettier --write --config .prettierrc

docs(readme.md): add NPM Downloads badge
  README.md
Due: prettier --write --config .prettierrc

docs(readme.md): fix badges link
  README.md
Due: prettier --write --config .prettierrc

docs(readme): update readme
  README.md
  assets/mk-notes-banner.png
  assets/support-nesting.png
Due: prettier --write --config .prettierrc

docs(update package.json tags): update package.json tags
  package.json
Due: prettier --write --config .prettierrc, npx sort-package-json

chore: add a missing CONTRIBUTING.md file
  CONTRIBUTING.md
Due: prettier --write --config .prettierrc

chore: add a missing CONTRIBUTING.md file (#5)
  CONTRIBUTING.md
Due: prettier --write --config .prettierrc

test(add tests): add tests
  .lintstagedrc.json
  .vscode/settings.json
  __tests__/__fakes__/fakeDestination.repository.ts
  __tests__/__fakes__/fakeFile.ts
  __tests__/__fakes__/fakePage.ts
  __tests__/__fakes__/fakeSource.repository.ts
  eslint.config.mjs
  jest.config.ts
  package.json
  src/MkNotes.test.ts
  src/MkNotes.ts
  src/bin/commands/preview.ts
  src/bin/commands/sync.ts
  src/domains/elements/Element.ts
  src/domains/features/previewSynchronization.test.ts
  src/domains/features/synchronizeMarkdownToNotion.test.ts
  src/domains/notion/NotionPage.ts
  src/domains/notion/types.ts
  src/domains/sitemap/SiteMap.test.ts
  src/domains/sitemap/SiteMap.ts
  src/domains/sitemap/TreeNode.test.ts
  src/domains/sitemap/serializers/json.serializer.test.ts
  src/domains/sitemap/serializers/plainText.serializer.test.ts
  src/infrastructure/filesystem/file.converter.test.ts
  src/infrastructure/filesystem/fileSystem.source.test.ts
  src/infrastructure/filesystem/fileSystem.source.ts
  src/infrastructure/html/html.parser.test.ts
  src/infrastructure/html/html.parser.ts
  src/infrastructure/markdown/markdown.parser.test.ts
  src/infrastructure/markdown/markdown.parser.ts
  src/infrastructure/notion/index.ts
  src/infrastructure/notion/notion.converter.test.ts
  src/infrastructure/notion/notion.converter.ts
  src/infrastructure/notion/notion.destination.test.ts
  src/infrastructure/notion/notion.destination.ts
  src/infrastructure/notion/utils.ts
  tsconfig.json
  yarn.lock
Due: prettier --write --config .prettierrc, eslint --fix, npx sort-package-json

revert(notion url parsing + docs): notion Url parsing + docs
  __tests__/__fakes__/fakeDestination.repository.ts
  docs/docs/getting-started/1-your-first-synchronization.md
  src/domains/features/synchronizeMarkdownToNotion.test.ts
  src/domains/features/synchronizeMarkdownToNotion.ts
  src/domains/synchronization/destination.repository.ts
  src/infrastructure/notion/notion.destination.test.ts
  src/infrastructure/notion/notion.destination.ts
Due: prettier --write --config .prettierrc, eslint --fix

Fix(notion url parsing + docs): notion Url parsing + docs (#6)
  __tests__/__fakes__/fakeDestination.repository.ts
  docs/docs/getting-started/1-your-first-synchronization.md
  src/domains/features/synchronizeMarkdownToNotion.test.ts
  src/domains/features/synchronizeMarkdownToNotion.ts
  src/domains/synchronization/destination.repository.ts
  src/infrastructure/notion/notion.destination.test.ts
  src/infrastructure/notion/notion.destination.ts
Due: prettier --write --config .prettierrc, eslint --fix

fix(build staged): add PR check for TS build + fix build
  .github/workflows/build.yaml
  .github/workflows/run-on-pr.yml
  tsconfig.production.json
Due: prettier --write --config .prettierrc

fix(build staged): add PR check for TS build + fix build (#7)
  .github/workflows/build.yaml
  .github/workflows/run-on-pr.yml
  tsconfig.production.json
Due: prettier --write --config .prettierrc

fix(issue-8): split page blocks creation in multiple calls to avoid hitting notion api limit
  docs/docs/getting-started/1-your-first-synchronization.md
  src/infrastructure/notion/notion.destination.ts
Due: prettier --write --config .prettierrc, eslint --fix

fix(issue-8): split page blocks creation in multiple calls to avoid hitting notion api limit (#9)
  docs/docs/getting-started/1-your-first-synchronization.md
  src/infrastructure/notion/notion.destination.ts
Due: prettier --write --config .prettierrc, eslint --fix

fix(fix wrong notion page name): fix the #11 issue by fixing the notion page definition
  src/infrastructure/filesystem/fileSystem.source.test.ts
  src/infrastructure/filesystem/fileSystem.source.ts
Due: prettier --write --config .prettierrc, eslint --fix

fix(fix wrong notion page name): fix the #11 issue by fixing the notion page definition (#12)
  src/infrastructure/filesystem/fileSystem.source.test.ts
  src/infrastructure/filesystem/fileSystem.source.ts
Due: prettier --write --config .prettierrc, eslint --fix

fix(fix exceeded string limit issue): chunck rich_text block to avoid hitting char limiting
  src/infrastructure/notion/notion.converter.ts
Due: prettier --write --config .prettierrc, eslint --fix

fix(fix exceeded string limit issue): chunck rich_text block to avoid hitting char limiting (#13)
  src/infrastructure/notion/notion.converter.ts
Due: prettier --write --config .prettierrc, eslint --fix

docs(producthunt launches): add producthunt launch refs + article blog
  README.md
  docs/blog/2025-06-15-public-release/index.mdx
Due: prettier --write --config .prettierrc

fix(update readme.md): update readme.md
  README.md
Due: prettier --write --config .prettierrc

docs(producthunt launches): add producthunt launch refs + article blog (#14)
  README.md
  docs/blog/2025-06-15-public-release/index.mdx
Due: prettier --write --config .prettierrc

feat(equation support): add support for latex equation
  eslint.config.mjs
  package.json
  src/domains/elements/Element.ts
  src/domains/notion/types.ts
  src/infrastructure/markdown/markdown.parser.test.ts
  src/infrastructure/markdown/markdown.parser.ts
  src/infrastructure/markdown/types.ts
  src/infrastructure/notion/notion.converter.test.ts
  src/infrastructure/notion/notion.converter.ts
  yarn.lock
Due: prettier --write --config .prettierrc, eslint --fix, npx sort-package-json

docs(add docs about equations): add docs about equations
  docs/docs/guides/using-equations.md
  docs/sidebars.ts
Due: prettier --write --config .prettierrc, eslint --fix

Add equations supports + improvments (#17)
  docs/docs/guides/using-equations.md
  docs/sidebars.ts
  eslint.config.mjs
  package.json
  src/domains/elements/Element.ts
  src/domains/notion/types.ts
  src/infrastructure/markdown/markdown.parser.test.ts
  src/infrastructure/markdown/markdown.parser.ts
  src/infrastructure/markdown/types.ts
  src/infrastructure/notion/notion.converter.test.ts
  src/infrastructure/notion/notion.converter.ts
  yarn.lock
Due: prettier --write --config .prettierrc, eslint --fix, npx sort-package-json

feat(update logo): update logo
  assets/logo_black.svg
  assets/logo_full_black.svg
  assets/logo_full_white.svg
  assets/logo_white.svg
  assets/mk-notes-banner.png
  assets/support-nesting.png
  docs/static/img/favicon.ico
  docs/static/img/favicon.svg
  docs/static/img/logo_black.svg
  docs/static/img/logo_full_black.svg
  docs/static/img/logo_full_white.svg
  docs/static/img/logo_white.svg
Due: none

fix(fix size icon): fix size icon
  assets/logo_black.svg
  assets/logo_full_black.svg
  assets/logo_full_white.svg
  assets/logo_white.svg
  docs/static/img/logo_black.svg
  docs/static/img/logo_full_black.svg
  docs/static/img/logo_full_white.svg
  docs/static/img/logo_white.svg
Due: none

feat(update logo): update logo (#18)
  assets/logo_black.svg
  assets/logo_full_black.svg
  assets/logo_full_white.svg
  assets/logo_white.svg
  assets/mk-notes-banner.png
  assets/support-nesting.png
  docs/static/img/favicon.ico
  docs/static/img/favicon.svg
  docs/static/img/logo_black.svg
  docs/static/img/logo_full_black.svg
  docs/static/img/logo_full_white.svg
  docs/static/img/logo_white.svg
Due: none

feat(single file sync): add single file sync
  .gitignore
  src/bin/commands/sync.ts
  src/infrastructure/filesystem/fileSystem.source.test.ts
  src/infrastructure/filesystem/fileSystem.source.ts
Due: prettier --write --config .prettierrc, eslint --fix

docs(update doc): update doc
  docs/docs/0-introduction.md
  docs/docs/advanced-guides/cli-commands.md
  docs/docs/getting-started/1-your-first-synchronization.md
Due: prettier --write --config .prettierrc

feat(19): add single file sync (#20)
  .gitignore
  docs/docs/0-introduction.md
  docs/docs/advanced-guides/cli-commands.md
  docs/docs/getting-started/1-your-first-synchronization.md
  src/bin/commands/sync.ts
  src/infrastructure/filesystem/fileSystem.source.test.ts
  src/infrastructure/filesystem/fileSystem.source.ts
Due: prettier --write --config .prettierrc, eslint --fix

Added clean sync
  docs/docs/advanced-guides/cli-commands.md
  src/MkNotes.ts
  src/bin/commands/sync.ts
  src/domains/features/synchronizeMarkdownToNotion.ts
  src/infrastructure/notion/notion.destination.ts
Due: prettier --write --config .prettierrc, eslint --fix
