Repository Myastr0/mk-notes: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --config .prettierrc, npx sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.json": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "*.md": ["prettier --write --config .prettierrc"],
  "package.json": ["npx sort-package-json"]
}

ci(add action scripts build check in ci): add action scripts build check in ci (#74)
  .github/workflows/tests.yaml
Due: none

feat(cli ux improvment): add ui feedback during sync process
  __tests__/__fakes__/event-logs/fake-event-logger.repository.ts
  __tests__/__fakes__/fakeInfrastructureInstances.ts
  docs/package.json
  docs/yarn.lock
  package.json
  preview/index.js
  src/MkNotes.ts
  src/bin/cli/commands/sync.ts
  src/domains/event-logs/repositories/event-logger.repository.ts
  src/domains/event-logs/types/event-log-definition.type.ts
  src/domains/event-logs/types/event-log.type.ts
  src/domains/sitemap/entities/SiteMap.ts
  src/domains/synchronization/events/check-destination-is-accessible.event.ts
  src/domains/synchronization/events/check-source-is-accessible.event.ts
  src/domains/synchronization/events/index.ts
  src/domains/synchronization/events/parsing-source.event.ts
  src/domains/synchronization/events/synchronization-process.event.ts
  src/domains/synchronization/features/__tests__/preview-synchronization.feature.test.ts
  src/domains/synchronization/features/__tests__/synchronize-markdown-to-notion.feature.test.ts
  src/domains/synchronization/features/preview-synchronization.feature.ts
  src/domains/synchronization/features/synchronize-markdown-to-notion.feature.ts
  src/infrastructure/index.ts
  src/infrastructure/tui/terminal-ui-event-logger.repository.ts
  sync/index.js
  yarn.lock
Due: eslint --fix, npx sort-package-json

build(build action scripts): build action scripts
  preview/index.js
  sync/index.js
Due: eslint --fix

fix(fix test file): fix test file
  src/domains/synchronization/features/__tests__/preview-synchronization.feature.test.ts
  src/domains/synchronization/features/__tests__/synchronize-markdown-to-notion.feature.test.ts
Due: eslint --fix

improvment(cli): add UI feedback during sync (#73)
  __tests__/__fakes__/event-logs/fake-event-logger.repository.ts
  __tests__/__fakes__/fakeInfrastructureInstances.ts
  docs/package.json
  docs/yarn.lock
  package.json
  preview/index.js
  src/MkNotes.ts
  src/bin/cli/commands/sync.ts
  src/domains/event-logs/repositories/event-logger.repository.ts
  src/domains/event-logs/types/event-log-definition.type.ts
  src/domains/event-logs/types/event-log.type.ts
  src/domains/sitemap/entities/SiteMap.ts
  src/domains/synchronization/events/check-destination-is-accessible.event.ts
  src/domains/synchronization/events/check-source-is-accessible.event.ts
  src/domains/synchronization/events/index.ts
  src/domains/synchronization/events/parsing-source.event.ts
  src/domains/synchronization/events/synchronization-process.event.ts
  src/domains/synchronization/features/__tests__/preview-synchronization.feature.test.ts
  src/domains/synchronization/features/__tests__/synchronize-markdown-to-notion.feature.test.ts
  src/domains/synchronization/features/preview-synchronization.feature.ts
  src/domains/synchronization/features/synchronize-markdown-to-notion.feature.ts
  src/infrastructure/index.ts
  src/infrastructure/tui/terminal-ui-event-logger.repository.ts
  sync/index.js
  yarn.lock
Due: eslint --fix, npx sort-package-json

fix(add tests): add tests
  src/infrastructure/converters/notion/__tests__/notion.converter.test.ts
  src/infrastructure/converters/notion/notion.converter.ts
Due: eslint --fix

build(build actions): build actions
  preview/index.js
  sync/index.js
Due: eslint --fix
