Repository Myastr0/mk-notes: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --config .prettierrc, eslint --fix, npx sort-package-json

.lintstagedrc.json:

{
  "*.js": ["prettier --write --config .prettierrc", "eslint --fix"],
  "*.json": ["prettier --write --config .prettierrc"],
  "*.ts": ["prettier --write --config .prettierrc", "eslint --fix"],
  "*.md": ["prettier --write --config .prettierrc"],
  "package.json": ["npx sort-package-json"]
}

feat(documentation): add github action to deploy github page
  .github/workflows/deploy-documentation.yaml
Due: none

fix(docs): fix GHA
  .github/workflows/deploy-documentation.yaml
Due: none

fix(docs): fix artifact path
  .github/workflows/deploy-documentation.yaml
Due: none

fix(docs): fix docausaurus build
  .github/workflows/deploy-documentation.yaml
  docs/docusaurus.config.ts
Due: prettier --write --config .prettierrc, eslint --fix

test(create fakes for testing purposes): create fakes for testing purposes
  .github/jobs/tests.yaml
  .github/workflows/deploy-package.yml
  .github/workflows/release-and-deploy.yaml
  __tests__/__fakes__/fakeConverter.repository.ts
  __tests__/__fakes__/fakeDestination.repository.ts
  __tests__/__fakes__/fakeElement.ts
  __tests__/__fakes__/fakeFile.ts
  __tests__/__fakes__/fakeInfrastructureInstances.ts
  __tests__/__fakes__/fakeLogger.ts
  __tests__/__fakes__/fakePage.ts
  __tests__/__fakes__/fakeParser.repository.ts
  __tests__/__fakes__/fakeSource.repository.ts
  jest.config.ts
  src/MkNotes.ts
  src/domains/elements/Element.ts
  src/domains/elements/converter.repository.ts
  src/domains/elements/parser.repository.ts
  src/domains/features/synchronizeMarkdownToNotion.ts
  src/domains/synchronization/destination.repository.ts
  src/infrastructure/filesystem/file.converter.ts
  src/infrastructure/filesystem/index.ts
  src/infrastructure/html/html.parser.ts
  src/infrastructure/html/index.ts
  src/infrastructure/index.ts
  src/infrastructure/markdown/index.ts
  src/infrastructure/markdown/markdown.parser.ts
  src/infrastructure/notion/NotionPage.ts
  src/infrastructure/notion/index.ts
  src/infrastructure/notion/notion.converter.ts
  src/infrastructure/notion/notion.destination.ts
  src/infrastructure/notion/types.ts
  tsconfig.eslint.json
Due: prettier --write --config .prettierrc, eslint --fix

docs(add readme): add readme
  .github/workflows/deploy-documentation.yaml
  LICENSE.md
  README.md
  assets/logo_black.svg
  assets/logo_full_black.svg
  assets/logo_full_white.svg
  assets/logo_white.svg
Due: prettier --write --config .prettierrc

docs(fix image): fix image
  README.md
Due: prettier --write --config .prettierrc

docs(update readme): update readme
  README.md
  assets/mk-notes-banner.png
  package.json
Due: prettier --write --config .prettierrc, npx sort-package-json

fix(fix readme.md): fix readme.md
  README.md
Due: prettier --write --config .prettierrc

fix(update readme.md): update readme.md
  README.md
  assets/mk-notes-banner.png
Due: prettier --write --config .prettierrc

fix(fix readme): fix readme
  README.md
Due: prettier --write --config .prettierrc

feat(add ci): add CI
  .github/jobs/tests.yaml
  .github/workflows/deploy-package.yml
  .github/workflows/run-on-pr.yml
  .github/workflows/tests.yaml
  package.json
Due: prettier --write --config .prettierrc, npx sort-package-json

ci(fix gha workflows + add pr template): fix GHA workflows + add PR template
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/deploy-package.yml
  .github/workflows/run-on-pr.yml
Due: prettier --write --config .prettierrc

fix(fix pr template file name): fix PR template file name
  .github/pull_request_template.md
Due: prettier --write --config .prettierrc

fix(fix ci tests): fix CI tests
  .github/workflows/tests.yaml
Due: none

fix(fix ci): fix CI
  .github/workflows/run-on-pr.yml
Due: none

fix(fix ci): fix Ci
  .github/workflows/run-on-pr.yml
Due: none

fix(fix readme.md): fix README.md
  README.md
Due: prettier --write --config .prettierrc

chore(add codeowners): add codeowners
  .github/CODEOWNERS
Due: none

ci(update workflow name): update workflow name
  .github/workflows/run-on-pr.yml
Due: none

ci(fix gha workflows + add pr template): fix GHA workflows + add PR template (#2)
  .github/CODEOWNERS
  .github/pull_request_template.md
  .github/workflows/deploy-package.yml
  .github/workflows/run-on-pr.yml
  .github/workflows/tests.yaml
  README.md
Due: prettier --write --config .prettierrc

ci(update secret usage): update secret usage
  .github/workflows/deploy-package.yml
Due: none

ci(update secret usage): update secret usage (#3)
  .github/workflows/deploy-package.yml
Due: none

fix(rework ci): rework CI
  .github/workflows/deploy-documentation.yaml
  .github/workflows/deploy-package.yml
Due: none

ci(update ci): update CI
  .github/workflows/deploy-package.yml
Due: none

Update CI (#4)
  .github/workflows/deploy-documentation.yaml
  .github/workflows/deploy-package.yml
Due: none

ci(fix permissions): fix permissions
  .github/workflows/deploy-package.yml
Due: none

fix(fix ci): fix CI
  .github/workflows/deploy-package.yml
Due: none

v0.0.1-alpha
  package.json
Due: prettier --write --config .prettierrc, npx sort-package-json

fix(fix ci): fix CI
  .github/workflows/deploy-package.yml
  package.json
Due: prettier --write --config .prettierrc, npx sort-package-json

chore(fix package.json properties): fix package.json properties
  package.json
Due: prettier --write --config .prettierrc, npx sort-package-json

fix(fix package.json properties): fix package.json properties
  docs/package.json
  package.json
Due: prettier --write --config .prettierrc, npx sort-package-json
