Repository Myastr0/mk-notes: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --config .prettierrc, npx sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.json": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "*.md": ["prettier --write --config .prettierrc"],
  "package.json": ["npx sort-package-json"]
}

no-op implementation of the new deleteChildBlocks method
  __tests__/__fakes__/fakeDestination.repository.ts
Due: eslint --fix

Added clean warnings
  docs/docs/advanced-guides/cli-commands.md
  src/bin/commands/sync.ts
  src/domains/synchronization/destination.repository.ts
Due: eslint --fix, prettier --write --config .prettierrc

Added Clean Sync (#21)
  __tests__/__fakes__/fakeDestination.repository.ts
  docs/docs/advanced-guides/cli-commands.md
  src/MkNotes.ts
  src/bin/commands/sync.ts
  src/domains/features/synchronizeMarkdownToNotion.ts
  src/domains/synchronization/destination.repository.ts
  src/infrastructure/notion/notion.destination.ts
Due: eslint --fix, prettier --write --config .prettierrc

feat: add support for inline code formatting with single backticks
  src/domains/elements/Element.ts
  src/infrastructure/markdown/markdown.parser.ts
  src/infrastructure/notion/notion.converter.ts
Due: eslint --fix

test: add comprehensive test for inline code with single backticks
  src/infrastructure/markdown/markdown.parser.test.ts
Due: eslint --fix

feat: add support for inline code formatting with single backticks (#22)
  src/domains/elements/Element.ts
  src/infrastructure/markdown/markdown.parser.test.ts
  src/infrastructure/markdown/markdown.parser.ts
  src/infrastructure/notion/notion.converter.ts
Due: eslint --fix

Support index.md content at root level with metadata
  __tests__/__fakes__/fakeDestination.repository.ts
  src/domains/features/synchronizeMarkdownToNotion.ts
  src/domains/sitemap/SiteMap.test.ts
  src/domains/sitemap/SiteMap.ts
  src/domains/synchronization/destination.repository.ts
  src/infrastructure/filesystem/fileSystem.source.test.ts
  src/infrastructure/filesystem/fileSystem.source.ts
  src/infrastructure/notion/notion.destination.ts
Due: eslint --fix

Support index.md content at root level with metadata (#25)
  __tests__/__fakes__/fakeDestination.repository.ts
  src/domains/features/synchronizeMarkdownToNotion.ts
  src/domains/sitemap/SiteMap.test.ts
  src/domains/sitemap/SiteMap.ts
  src/domains/synchronization/destination.repository.ts
  src/infrastructure/filesystem/fileSystem.source.test.ts
  src/infrastructure/filesystem/fileSystem.source.ts
  src/infrastructure/notion/notion.destination.ts
Due: eslint --fix

feat: Add Notion File Upload API support for local images
  package-lock.json
  package.json
  src/MkNotes.ts
  src/bin/commands/sync.ts
  src/domains/features/synchronizeMarkdownToNotion.test.ts
  src/domains/features/synchronizeMarkdownToNotion.ts
  src/domains/notion/types.ts
  src/domains/synchronization/destination.repository.ts
  src/infrastructure/index.ts
  src/infrastructure/notion/file-upload.service.test.ts
  src/infrastructure/notion/file-upload.service.ts
  src/infrastructure/notion/index.ts
  src/infrastructure/notion/notion.converter.ts
  src/infrastructure/notion/notion.destination.ts
  yarn.lock
Due: eslint --fix, npx sort-package-json

feat: add local file upload support for images
  src/infrastructure/markdown/markdown.parser.test.ts
  src/infrastructure/notion/file-upload.service.test.ts
  src/infrastructure/notion/file-upload.service.ts
  src/infrastructure/notion/notion.converter.ts
Due: eslint --fix

chore: remove package-lock.json
  package-lock.json
Due: eslint --fix

fix: restore original Page element conversion behavior
  src/infrastructure/notion/notion.converter.ts
Due: eslint --fix

fix: formatting cleanup - add newlines at end of test files
  src/infrastructure/notion/notion.converter.test.ts
  src/infrastructure/notion/notion.destination.test.ts
Due: eslint --fix

refactor: simplify API to async-only, remove code duplication
  __tests__/__fakes__/fakeConverter.repository.ts
  src/domains/elements/converter.repository.ts
  src/infrastructure/notion/notion.converter.test.ts
  src/infrastructure/notion/notion.converter.ts
  src/infrastructure/notion/notion.destination.test.ts
Due: eslint --fix

Implementing dynamic file size
  src/infrastructure/notion/file-upload.service.test.ts
  src/infrastructure/notion/file-upload.service.ts
Due: eslint --fix

Implementing filename truncate with hash suffix
  src/infrastructure/notion/file-upload.service.test.ts
  src/infrastructure/notion/file-upload.service.ts
Due: eslint --fix

Not passing basePath in CLI
  src/MkNotes.ts
  src/bin/commands/sync.ts
  src/domains/elements/Element.ts
  src/domains/elements/converter.repository.ts
  src/domains/elements/parser.repository.ts
  src/domains/features/synchronizeMarkdownToNotion.ts
  src/infrastructure/filesystem/file.converter.ts
  src/infrastructure/index.ts
  src/infrastructure/markdown/markdown.parser.ts
  src/infrastructure/notion/notion.converter.ts
Due: eslint --fix

feat: Add Notion File Upload API support for local images (#23)
  __tests__/__fakes__/fakeConverter.repository.ts
  package.json
  src/bin/commands/sync.ts
  src/domains/elements/Element.ts
  src/domains/elements/converter.repository.ts
  src/domains/elements/parser.repository.ts
  src/domains/features/synchronizeMarkdownToNotion.test.ts
  src/domains/features/synchronizeMarkdownToNotion.ts
  src/domains/notion/types.ts
  src/domains/synchronization/destination.repository.ts
  src/infrastructure/filesystem/file.converter.ts
  src/infrastructure/index.ts
  src/infrastructure/markdown/markdown.parser.test.ts
  src/infrastructure/markdown/markdown.parser.ts
  src/infrastructure/notion/file-upload.service.test.ts
  src/infrastructure/notion/file-upload.service.ts
  src/infrastructure/notion/index.ts
  src/infrastructure/notion/notion.converter.test.ts
  src/infrastructure/notion/notion.converter.ts
  src/infrastructure/notion/notion.destination.test.ts
  src/infrastructure/notion/notion.destination.ts
  yarn.lock
Due: eslint --fix, npx sort-package-json

chore(update pre-commit hook): update pre-commit hook
  .husky/pre-commit
  dist/bin/actions/preview.js
  dist/bin/actions/sync.js
Due: eslint --fix

ci(add check dist workflow): add check dist workflow
  .github/workflows/check-dist.yaml
Due: none

Fixing a regression in root level index
  src/domains/sitemap/SiteMap.test.ts
  src/domains/sitemap/SiteMap.ts
  src/domains/sitemap/serializers/plainText.serializer.test.ts
Due: eslint --fix

Fixing a regression in root level index (#27)
  src/domains/sitemap/SiteMap.test.ts
  src/domains/sitemap/SiteMap.ts
  src/domains/sitemap/serializers/plainText.serializer.test.ts
Due: eslint --fix

Solving some tiny duplication on the links
  src/domains/features/synchronizeMarkdownToNotion.test.ts
  src/domains/features/synchronizeMarkdownToNotion.ts
Due: eslint --fix

Solving some tiny duplication on the links (#29)
  src/domains/features/synchronizeMarkdownToNotion.test.ts
  src/domains/features/synchronizeMarkdownToNotion.ts
Due: eslint --fix

feat(add lock option): add lock option to avoid changes on synced pages
  __tests__/__fakes__/fakeDestination.repository.ts
  __tests__/__fakes__/fakePage.ts
  docs/docs/advanced-guides/cli-commands.md
  eslint.config.mjs
  package.json
  src/MkNotes.ts
  src/bin/commands/sync.ts
  src/domains/features/synchronizeMarkdownToNotion.test.ts
  src/domains/features/synchronizeMarkdownToNotion.ts
  src/domains/notion/NotionPage.ts
  src/domains/synchronization/destination.repository.ts
  src/infrastructure/notion/file-upload.service.test.ts
  src/infrastructure/notion/notion.destination.test.ts
  src/infrastructure/notion/notion.destination.ts
  yarn.lock
Due: eslint --fix, prettier --write --config .prettierrc, npx sort-package-json

feat(add lock option): add lock option to avoid changes on synced pages (#31)
  __tests__/__fakes__/fakeDestination.repository.ts
  __tests__/__fakes__/fakePage.ts
  docs/docs/advanced-guides/cli-commands.md
  eslint.config.mjs
  package.json
  src/MkNotes.ts
  src/bin/commands/sync.ts
  src/domains/features/synchronizeMarkdownToNotion.test.ts
  src/domains/features/synchronizeMarkdownToNotion.ts
  src/domains/notion/NotionPage.ts
  src/domains/synchronization/destination.repository.ts
  src/infrastructure/notion/file-upload.service.test.ts
  src/infrastructure/notion/notion.destination.test.ts
  src/infrastructure/notion/notion.destination.ts
  yarn.lock
Due: eslint --fix, prettier --write --config .prettierrc, npx sort-package-json

docs(update docs): update docs
  dist/MkNotes.d.ts
  dist/MkNotes.js
  dist/bin/actions/preview.js
  dist/bin/actions/sync.js
  dist/bin/cli/commands/preview.js
  dist/bin/cli/commands/sync.js
  dist/bin/cli/index.js
  dist/domains/features/previewSynchronization.d.ts
  dist/domains/features/previewSynchronization.js
  dist/domains/features/synchronizeMarkdownToNotion.d.ts
  dist/domains/features/synchronizeMarkdownToNotion.js
  dist/domains/notion/NotionPage.d.ts
  dist/domains/sitemap/serializers/types.d.ts
  dist/index.d.ts
  dist/infrastructure/index.d.ts
  dist/infrastructure/notion/notion.converter.d.ts
  dist/infrastructure/notion/notion.destination.d.ts
  docs/content/docs/cli/getting-started/0-installation.mdx
  docs/content/docs/cli/getting-started/1-your-first-synchronization.mdx
  docs/content/docs/cli/guides/architecture.mdx
  docs/content/docs/cli/guides/cli-commands.mdx
  docs/content/docs/cli/guides/meta.json
  docs/content/docs/cli/guides/programmatic-usage.mdx
  docs/content/docs/cli/meta.json
  docs/content/docs/github-actions/available-actions/1-preview-action.mdx
  docs/content/docs/github-actions/available-actions/2-sync-action.mdx
  docs/content/docs/github-actions/best-practices.mdx
  docs/content/docs/github-actions/index.mdx
  docs/content/docs/github-actions/meta.json
  docs/content/docs/github-actions/setup.mdx
  docs/content/docs/github-actions/troubleshooting.mdx
  docs/content/docs/guides/github-actions.md
  docs/content/docs/index.mdx
  docs/content/docs/meta.json
  docs/content/docs/writing/styling-notion-page.mdx
  docs/content/docs/writing/using-equations.mdx
  docs/lib/source.ts
Due: eslint --fix, prettier --write --config .prettierrc

fix(fix gha): fix gha
  .github/workflows/check-dist.yaml
Due: none

fix(fix gha): fix gha
  .github/workflows/build.yaml
  .github/workflows/check-dist.yaml
Due: none

feat(update build): update build
  dist/MkNotes.d.ts
  dist/MkNotes.js
  dist/bin/actions/preview.js
  dist/bin/actions/sync.js
  dist/bin/cli/commands/preview.js
  dist/bin/cli/commands/sync.js
  dist/bin/cli/index.js
  dist/domains/features/previewSynchronization.d.ts
  dist/domains/features/previewSynchronization.js
  dist/domains/features/synchronizeMarkdownToNotion.d.ts
  dist/domains/features/synchronizeMarkdownToNotion.js
  dist/domains/notion/NotionPage.d.ts
  dist/domains/sitemap/serializers/types.d.ts
  dist/index.d.ts
  dist/infrastructure/index.d.ts
  dist/infrastructure/notion/notion.converter.d.ts
  dist/infrastructure/notion/notion.destination.d.ts
Due: eslint --fix

docs(add not-found page): add not-found page
  docs/app/layout.tsx
  docs/app/not-found.tsx
  docs/next.config.mjs
Due: none

docs(add not-found page): add not-found page (#33)
  docs/app/layout.tsx
  docs/app/not-found.tsx
  docs/next.config.mjs
Due: none

feat: Support Scala code blocks
  src/domains/elements/Element.ts
  src/infrastructure/notion/notion.converter.ts
Due: eslint --fix
