Repository Myastr0/mk-notes: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --config .prettierrc, npx sort-package-json

.lintstagedrc.json:

{
  "*.js": ["eslint --fix"],
  "*.json": ["eslint --fix"],
  "*.ts": ["eslint --fix"],
  "*.md": ["prettier --write --config .prettierrc"],
  "package.json": ["npx sort-package-json"]
}

fix(fix nested list conversion): fix #51 issue
  docs/content/docs/writing/meta.json
  docs/content/docs/writing/notion-limitations.mdx
  package.json
  src/MkNotes.ts
  src/bin/cli/commands/preview.ts
  src/bin/cli/commands/sync.ts
  src/domains/elements/Element.ts
  src/domains/errors/error.ts
  src/domains/logger/types.ts
  src/domains/notion/error.ts
  src/infrastructure/html/html.parser.test.ts
  src/infrastructure/html/html.parser.ts
  src/infrastructure/index.ts
  src/infrastructure/markdown/markdown.parser.test.ts
  src/infrastructure/markdown/markdown.parser.ts
  src/infrastructure/notion/notion.converter.test.ts
  src/infrastructure/notion/notion.converter.ts
  src/infrastructure/notion/notion.destination.test.ts
  src/infrastructure/notion/notion.destination.ts
Due: eslint --fix, npx sort-package-json

build(build index.js files): build index.js files
  preview/index.js
  sync/index.js
Due: eslint --fix

docs(update docs): update docs
  docs/content/docs/writing/notion-limitations.mdx
Due: none

Fix List Nesting issue (#53)
  docs/content/docs/writing/meta.json
  docs/content/docs/writing/notion-limitations.mdx
  package.json
  preview/index.js
  src/MkNotes.ts
  src/bin/cli/commands/preview.ts
  src/bin/cli/commands/sync.ts
  src/domains/elements/Element.ts
  src/domains/errors/error.ts
  src/domains/logger/types.ts
  src/domains/notion/error.ts
  src/infrastructure/html/html.parser.test.ts
  src/infrastructure/html/html.parser.ts
  src/infrastructure/index.ts
  src/infrastructure/markdown/markdown.parser.test.ts
  src/infrastructure/markdown/markdown.parser.ts
  src/infrastructure/notion/notion.converter.test.ts
  src/infrastructure/notion/notion.converter.ts
  src/infrastructure/notion/notion.destination.test.ts
  src/infrastructure/notion/notion.destination.ts
  sync/index.js
Due: eslint --fix, npx sort-package-json

"feat: mermaid support"
  src/domains/elements/Element.ts
  src/infrastructure/markdown/markdown.parser.test.ts
  src/infrastructure/notion/notion.converter.test.ts
  src/infrastructure/notion/notion.converter.ts
Due: eslint --fix

"feat: mermaid support" (#55)
  src/domains/elements/Element.ts
  src/infrastructure/markdown/markdown.parser.test.ts
  src/infrastructure/notion/notion.converter.test.ts
  src/infrastructure/notion/notion.converter.ts
Due: eslint --fix

fix: rebuild actions
  preview/index.js
  sync/index.js
Due: eslint --fix

fix: rebuild actions (#56)
  preview/index.js
  sync/index.js
Due: eslint --fix

docs(remove gha tag ref in docs): remove gha tag ref in docs
  docs/content/docs/github-actions/available-actions/1-preview-action.mdx
  docs/content/docs/github-actions/available-actions/2-sync-action.mdx
  docs/content/docs/github-actions/best-practices.mdx
  docs/content/docs/github-actions/troubleshooting.mdx
Due: none

docs(remove gha tag ref in docs): remove gha tag ref in docs (#58)
  docs/content/docs/github-actions/available-actions/1-preview-action.mdx
  docs/content/docs/github-actions/available-actions/2-sync-action.mdx
  docs/content/docs/github-actions/best-practices.mdx
  docs/content/docs/github-actions/troubleshooting.mdx
Due: none

feat(wip): wip
  __tests__/__fakes__/fakeDestination.repository.ts
  package.json
  src/domains/elements/Element.ts
  src/domains/elements/Element/CalloutElement.class.ts
  src/domains/elements/Element/CodeElement.class.ts
  src/domains/elements/Element/DividerElement.class.ts
  src/domains/elements/Element/Element.class.ts
  src/domains/elements/Element/EquationElement.class.ts
  src/domains/elements/Element/FileElement.class.ts
  src/domains/elements/Element/HtmlElement.class.ts
  src/domains/elements/Element/ImageElement.class.ts
  src/domains/elements/Element/LinkElement.class.ts
  src/domains/elements/Element/ListItemElement.class.ts
  src/domains/elements/Element/PageElement.class.ts
  src/domains/elements/Element/QuoteElement.class.ts
  src/domains/elements/Element/TableElement.class.ts
  src/domains/elements/Element/TableOfContentElement.class.ts
  src/domains/elements/Element/TextElement.class.ts
  src/domains/elements/Element/TextElement.types.ts
  src/domains/elements/Element/ToggleElement.class.ts
  src/domains/elements/Element/index.ts
  src/domains/elements/Element/types.ts
  src/domains/elements/parser.repository.ts
  src/domains/features/synchronizeMarkdownToNotion.ts
  src/domains/notion/NotionPage.ts
  src/domains/notion/constants.ts
  src/domains/notion/types/database.types.ts
  src/domains/notion/types/index.ts
  src/domains/notion/types/types.ts
  src/domains/synchronization/destination.repository.ts
  src/infrastructure/markdown/markdown.parser.ts
  src/infrastructure/notion/index.ts
  src/infrastructure/notion/notion.converter.ts
  src/infrastructure/notion/notion.destination.test.ts
  src/infrastructure/notion/notion.destination.ts
  src/infrastructure/notion/utils.ts
  yarn.lock
Due: eslint --fix, npx sort-package-json

feat(wip): wip
  preview/index.js
  sync/index.js
Due: eslint --fix

feat(wip): wip
  __tests__/__fakes__/fakeDestination.repository.ts
  src/domains/features/synchronizeMarkdownToNotion.ts
  src/domains/synchronization/destination.repository.ts
  src/infrastructure/notion/notion.destination.ts
Due: eslint --fix

build(build actions): build actions
  preview/index.js
  sync/index.js
Due: eslint --fix

test(refactor tests according new feature): refactor tests according new feature
  __tests__/__fakes__/fakeDestination.repository.ts
  src/domains/features/synchronizeMarkdownToNotion.test.ts
  src/infrastructure/markdown/markdown.parser.test.ts
  src/infrastructure/notion/notion.destination.test.ts
Due: eslint --fix

docs(update docs for database support): update docs for database support
  docs/content/docs/cli/getting-started/1-your-first-synchronization.mdx
  docs/content/docs/cli/guides/cli-commands.mdx
  docs/content/docs/cli/guides/database-sync.mdx
  docs/content/docs/cli/guides/meta.json
  docs/content/docs/github-actions/available-actions/2-sync-action.mdx
  docs/content/docs/github-actions/first-synchronization.mdx
  docs/content/docs/index.mdx
  docs/content/docs/writing/styling-notion-page.mdx
Due: eslint --fix

docs(setup blog): setup blog
  docs/app/(home)/blog/[...slug]/-parts/author.tsx
  docs/app/(home)/blog/[...slug]/page.tsx
  docs/app/(home)/blog/page.tsx
  docs/app/(home)/layout.tsx
  docs/app/docs/[[...slug]]/page.tsx
  docs/app/sitemap.ts
  docs/collections/authors.ts
  docs/collections/blogs.ts
  docs/collections/docs.ts
  docs/components/codeblock.tsx
  docs/content-collections.ts
  docs/content/blog/2025-02-07-alpha-release/index.mdx
  docs/content/blog/2025-06-15-public-release/index.mdx
  docs/content/blog/2025-11-30-v3-database-support/index.mdx
  docs/content/blog/authors.yml
  docs/lib/source.ts
Due: eslint --fix

docs(setup blog): setup blog (#61)
  docs/app/(home)/blog/[...slug]/-parts/author.tsx
  docs/app/(home)/blog/[...slug]/page.tsx
  docs/app/(home)/blog/page.tsx
  docs/app/(home)/layout.tsx
  docs/app/docs/[[...slug]]/page.tsx
  docs/app/sitemap.ts
  docs/collections/authors.ts
  docs/collections/blogs.ts
  docs/collections/docs.ts
  docs/components/codeblock.tsx
  docs/content-collections.ts
  docs/content/blog/2025-02-07-alpha-release/index.mdx
  docs/content/blog/2025-06-15-public-release/index.mdx
  docs/content/blog/2025-11-30-v3-database-support/index.mdx
  docs/content/blog/authors.yml
  docs/lib/source.ts
Due: eslint --fix

fix(docs): fix codeblock componentn
  docs/components/codeblock.tsx
Due: none

docs(readme): update readme to add contributors
  README.md
Due: prettier --write --config .prettierrc

fix(docs): fix codeblock component (#62)
  docs/components/codeblock.tsx
Due: none

docs(readme): update readme to add contributors (#63)
  README.md
Due: prettier --write --config .prettierrc

Create FUNDING.yml
  .github/FUNDING.yml
Due: none

Create FUNDING.yml (#64)
  .github/FUNDING.yml
Due: none

Add --flat option for database syncs to sync larger folder structures into a DB and ensure each md file becomes a DB notion page.
  __tests__/__fakes__/fakeDestination.repository.ts
  src/MkNotes.ts
  src/bin/cli/commands/preview.ts
  src/bin/cli/commands/sync.ts
  src/domains/features/previewSynchronization.test.ts
  src/domains/features/previewSynchronization.ts
  src/domains/features/synchronizeMarkdownToNotion.ts
  src/domains/features/synchronizeMarkdownToNotion_flat.test.ts
  src/domains/sitemap/SiteMap.test.ts
  src/domains/sitemap/SiteMap.ts
  src/domains/synchronization/destination.repository.ts
  src/infrastructure/notion/notion.destination.ts
Due: eslint --fix

add missed files
  preview/index.js
  sync/index.js
Due: eslint --fix

apply PR feedback
  docs/content/docs/cli/guides/cli-commands.mdx
  docs/content/docs/cli/guides/database-sync.mdx
  src/domains/features/synchronizeMarkdownToNotion.ts
  src/domains/features/synchronizeMarkdownToNotion_flat.test.ts
Due: eslint --fix

build(build github action scripts): build github action scripts
  preview/index.js
  sync/index.js
Due: eslint --fix

docs(update docs): update docs
  docs/content/docs/cli/getting-started/1-your-first-synchronization.mdx
  docs/content/docs/cli/guides/cli-commands.mdx
  docs/content/docs/cli/guides/database-sync.mdx
  docs/content/docs/cli/guides/programmatic-usage.mdx
  docs/content/docs/github-actions/available-actions/2-sync-action.mdx
  docs/content/docs/writing/styling-notion-page.mdx
  docs/docs/api/README.md
  docs/docs/api/bin/github-actions/preview/README.md
  docs/docs/api/bin/github-actions/preview/functions/preview.md
  docs/docs/api/bin/github-actions/sync/README.md
  docs/docs/api/bin/github-actions/sync/functions/sync.md
  docs/docs/api/bin/github-actions/utils/README.md
  docs/docs/api/bin/github-actions/utils/functions/getInputAsBool.md
  docs/docs/api/domains/README.md
  docs/docs/api/infrastructure/README.md
Due: prettier --write --config .prettierrc

docs(add blog page): add blog page
  docs/content/blog/2025-12-11-v3.1-incremental-sync/index.mdx
Due: none

feat(#70): add option to flat page tree inside a destination
  docs/content/docs/cli/guides/cli-commands.mdx
  docs/content/docs/cli/guides/database-sync.mdx
  docs/content/docs/github-actions/available-actions/2-sync-action.mdx
  preview/index.js
  src/MkNotes.test.ts
  src/MkNotes.ts
  src/bin/cli/commands/preview.ts
  src/bin/cli/commands/sync.ts
  src/bin/github-actions/sync.ts
  src/domains/sitemap/entities/SiteMap.ts
  src/domains/sitemap/entities/TreeNode.ts
  src/domains/sitemap/entities/__tests__/SiteMap.test.ts
  src/domains/sitemap/entities/__tests__/TreeNode.test.ts
  src/domains/synchronization/features/__tests__/preview-synchronization.feature.test.ts
  src/domains/synchronization/features/__tests__/synchronize-markdown-to-notion.feature.test.ts
  src/domains/synchronization/features/preview-synchronization.feature.ts
  src/domains/synchronization/features/synchronize-markdown-to-notion.feature.ts
  sync/index.js
Due: eslint --fix

feat(#70): add option to flat page tree (#71)
  docs/content/docs/cli/guides/cli-commands.mdx
  docs/content/docs/cli/guides/database-sync.mdx
  docs/content/docs/github-actions/available-actions/2-sync-action.mdx
  preview/index.js
  src/MkNotes.test.ts
  src/MkNotes.ts
  src/bin/cli/commands/preview.ts
  src/bin/cli/commands/sync.ts
  src/bin/github-actions/sync.ts
  src/domains/sitemap/entities/SiteMap.ts
  src/domains/sitemap/entities/TreeNode.ts
  src/domains/sitemap/entities/__tests__/SiteMap.test.ts
  src/domains/sitemap/entities/__tests__/TreeNode.test.ts
  src/domains/synchronization/features/__tests__/preview-synchronization.feature.test.ts
  src/domains/synchronization/features/__tests__/synchronize-markdown-to-notion.feature.test.ts
  src/domains/synchronization/features/preview-synchronization.feature.ts
  src/domains/synchronization/features/synchronize-markdown-to-notion.feature.ts
  sync/index.js
Due: eslint --fix

fix(fix flat option with database destination): fix flat option with database destination
  src/domains/synchronization/features/synchronize-markdown-to-notion.feature.ts
Due: eslint --fix

Fix/flat database option (#72)
  preview/index.js
  src/domains/synchronization/features/synchronize-markdown-to-notion.feature.ts
  sync/index.js
Due: eslint --fix

ci(add action scripts build check in ci): add action scripts build check in ci
  .github/workflows/tests.yaml
Due: none
